.notify.text_center
  %p La primera foto es la portada del Post tiene que ser mayor, el resto de fotos son de tamaño 1x1 y apareceran de dos en dos

#form{style: "width: 900px"}
  = form_for @post do |f|
    - if @post.errors.any?
      %h1 There were some errors
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
    .grid
      .col.col-2
        = f.label :date
      .col.col-5
        = f.date_field :date
    .grid
      .col.col-2
        = f.label :title
      .col.col-5
        = f.text_field :title
    .grid
      .col.col-2
        = f.label :location
      .col.col-5
        = f.text_field :location
    .grid
      .col.col-2
        = f.label :short_description
      .col.col-5
        = f.text_field :short_description
    .grid
      .col.col-2
        = f.label :description
      .col.col-5
        = f.text_area :description
    .grid
      .col.col-2
        = f.label :category
      .col.col-5
        = f.select :category, Post::CATEGORIES
    = f.fields_for :pictures do |ff|
      - unless ff.object.new_record?
        .image_show_form
          = image_tag(ff.object.photo.url(:thumb))
          = ff.hidden_field :_destroy
          = link_to "Delete", "#", id: "delete_picture"
      -else
        .grid{style: "clear: both;"}
          .col.col-2
            = ff.label :photo
          .col.col-5
            = ff.file_field :photo
    .grid
      = f.submit "Create", class: "read_more"
