.page_wrap
  .grid
    .col.col-12
      %h2.meta.text_center== #{friendly_date(@post.date)} / #{@post.location}
  .grid
    .col.col-12
      = image_tag(@post.pictures.first.photo.url, class: "margin_center") unless @post.pictures.empty?
  .grid
    .col.col-12.text_center
      .text_utopia
        %h1= @post.title
        = raw RedCloth.new(@post.description).to_html


  - @post.pictures.drop(1).in_groups_of(2, false) do |pictures|
    .grid
      .col.col-12.table_cell
        - pictures.each do |picture|
          = image_tag(picture.photo.url, class: "smaller_width inline_block") unless @post.pictures.empty?
