!!!
%html
  %head
    %title UtopiaWorld
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.text_center
      %h1 The Utopian World
      %nav
        %ul.clearfix.margin_center
          %li
            = link_to "Utopia", utopia_path, class: @active == "Utopia" ? "active" : ""
          %li
            = link_to "People say", people_say_path, class: @active == "People Say" ? "active" : ""
          %li Water up
          %li Act Together
    = yield
